{% extends '@EasyAdmin/crud/detail.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5>Webhook载荷</h5>
                    </div>
                    <div class="card-body">
                        <pre class="bg-light p-3 rounded"><code>{{ payload|json_encode(constant('JSON_PRETTY_PRINT')) }}</code></pre>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5>处理结果</h5>
                    </div>
                    <div class="card-body">
                        {% if processResult %}
                            <pre class="bg-light p-3 rounded"><code>{{ processResult|json_encode(constant('JSON_PRETTY_PRINT')) }}</code></pre>
                        {% else %}
                            <p class="text-muted">暂无处理结果</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <a href="{{ app.request.headers.get('referer') ?: path('admin') }}" class="btn btn-secondary">
                    <i class="fa fa-arrow-left"></i> 返回
                </a>
            </div>
        </div>
    </div>
{% endblock %}